<script src="{{ asset('build/app.js') }}"></script>
<td class="sonata-ba-list-field sonata-ba-list-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}"{% if field_description.options.row_align is defined %} style="text-align:{{ field_description.options.row_align }}"{% endif %}>
    {% set route = field_description.options.route.name|default(null) %}

    {% if
        field_description.options.identifier is defined
        and route
        and admin.hasRoute(route)
        and admin.hasAccess(route, route in ['show', 'edit'] ? object : null)
    %}
        <a class="sonata-link-identifier" href="{{ admin.generateObjectUrl(route, object, field_description.options.route.parameters) }}">
            {% block field %}
                {#{{ object.status == 'cnf' ? 'Yes' : 'No' }}#}
            {#<div id="app">#}
                {##}
            {#</div>#}
                <div id="app" class="container">
                    {#<button id="show-modal" @click="showModal = true">Show Modal</button>#}
                    {#<modal v-if="showModal" @close="showModal = false"></modal>#}
                    <modal v-if="showModal"></modal>
                    <a href="#" :onclick="showModal=true">Show modal</a>
                </div>
            {% endblock %}
        </a>
    {% else %}
        {% set isEditable = field_description.options.editable is defined and field_description.options.editable and admin.hasAccess('edit', object) %}
        {% set xEditableType = field_description.type|sonata_xeditable_type %}

        {% if isEditable and xEditableType %}
            {% set url = path(
                'sonata_admin_set_object_field_value',
                admin.getPersistentParameters|default([])|merge({
                'context': 'list',
                'field': field_description.name,
                'objectId': admin.id(object),
                'code': admin.code(object)
            })
                ) %}

            {% if field_description.type == 'date' and value is not empty %}
                {% set data_value = value.format('Y-m-d') %}
            {% elseif field_description.type == 'boolean' and value is empty %}
                {% set data_value = 0 %}
            {% else %}
                {% set data_value = value %}
            {% endif %}

            <span {% block field_span_attributes %}class="x-editable"
                  data-type="{{ xEditableType }}"
                  data-value="{{ data_value }}"
                  data-title="{{ field_description.label|trans({}, field_description.translationDomain) }}"
                  data-pk="{{ admin.id(object) }}"
                  data-url="{{ url }}" {% endblock %}>
                {{ block('field') }}
            </span>
        {% else %}
            {{ block('field') }}
        {% endif %}
    {% endif %}
</td>